.thumb
.pointer

.achievement-wrapper
  = link_to '', achievements_path(params: { achievement: { milestone_id: milestone.id }}), remote: true, method: :post, class: 'milestone-completion-thumb'

%h1= milestone.title
%div
  %p.description= milestone.description
.milestone-footer
  .milestone-controls.rfloat

    = link_to edit_milestone_path(milestone), class: 'edit-thumb', remote: true do
      %i.fa.fa-edit

    = link_to milestone_path(milestone), method: 'delete', class: 'del-thumb', remote: true do
      %i.fa.fa-trash-o

  .resource-thumb
    %a.resource-num
    = link_to new_milestone_learning_resource_path(milestone), class: 'resource-create-thumb' do
      %i.fa.fa-plus-circle

.side-container
