- content_for :head do
  = stylesheet_link_tag "tracks/new"

#track-creation-wizard.wizard
  .wizard-title
    %h1
      Create a fresh new track
  .wizard-body
    - track.errors.full_messages.each do |msg|
      %p.error= msg
    = form_for track do |f|
      %section
        = f.label :title, 'I would like to explore : ', class: 'blk'
        = f.text_field :title, placeholder: 'eg. Ruby on Rails'
      %section
        = f.label :description, 'Add a small description for your track (Optional)', class: 'blk'
        = f.text_area :description
      %section
        = f.label :visibility, 'Who can view the track'
        .select-wrapper
          = f.select :visibility, [['Only contributors', 'private'], ['Any user', 'public'], ['Anyone including anonymous guests and search engines', 'open']]
      %section
        = f.submit 'Create', class: 'pure-button pure-button-primary final'
