- content_for :head do
  = stylesheet_link_tag 'home/dashboard_new', media: :all
  = javascript_include_tag "home/dashboard"

= render 'dashboard_sidebar'

#main
  %header
    .rfloat
      %input#search-box
    %h1 Tracks you contribute to
  .body
    %ul#tracks
      %li.track#new-track
        = link_to "Create a track", controller: 'tracks', action: 'new'
      - @contributed_tracks.each do |track|
        %li.track
          %header
            %h1
              %i.fa.fa-road
              = link_to track.title, track_milestones_path(track)
          .body= track.description

  %header
    .rfloat
      %input#search-box
    %h1 Tracks you are enrolled in
  .body
    %ul#tracks
      - if @enrolled_tracks.blank?
        .zilch-wrapper
          You are currently not enrolled in any exploration tracks.
      - @enrolled_tracks.each do |track|
        %li.track
          %header
            %h1
              %i.fa.fa-road
              = link_to track.title, track
          .body= track.description
